.header {
    background-color: azure;
    width: 100%;
    position: fixed;
    height: 2rem;
    top: 0;
    right: 0;
    padding-top: 1rem;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2) !important;
}